body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 110vh;
   margin: 0;
   background: #eaeaea;
}
main {
  display: flex;
  flex-direction: row;
  flex: auto;

}
article {
  flex: 2;
  overflow-y: auto;
  padding: 0.5em;  
  background-color: #f9f9f9;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
aside {
  flex: 1;
  overflow-y: auto;
  padding: 1rem; 
   background-color:#eaeaea;;
}
header, footer {
  padding: 1rem;
  background-color: #ddd;
  text-align: left;
}
.logo {
    font-size: 4rem;
    margin-right: 1rem;
    color: skyblue;
}